.list{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    background-color: hsl(0, 0%, 0%);
    padding: 20px 10%;
}
.player{
    width: 200px;
    height: 300px;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    padding: 10px;
    background-color: rgb(93, 80, 210);
    color: white;
    border-radius: 4px;
}
.image{
    width: 200px;
    height: 250px;
    object-fit: cover;
}